.percentage-container {
  text-align: center;
  padding: 20px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container .input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.input-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #646464;
  font-size: 14px;
}

.input-container input[type="text"] {
  width: 100%;
  max-width: 200px;
  height: 30px;
  padding: 5px;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 5px;
  background-color: #ffffff;
  color: #727272;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-container:not(:last-child) .input-label {
  margin-right: 20px;
}

.button-container {
  margin: 30px 0;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff698f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

.button-container button:hover {
  background-color: #e45075;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.progress-bar {
  width: 400px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #ff698f;
  transition: width 0.5s ease-in-out;
}

.percentage-label {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ff698f;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .input-container .input-label {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .input-container input[type="text"] {
    max-width: 100%;
    width: 300px;
  }

  .input-container:not(:last-child) .input-label {
    margin-right: 6;
  }
  h2 {
    font-size: 1.2rem;
  }
}
