  .day:hover {
    background-color: #dcdcdc;
  }

  .day.disabled:hover {
    background-color: #f5f5f5;
  }
  
  .day.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  .day.disabled {
    color: #ccc;
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
  
  
  .heart {
    color: #dd3333;
    margin: 0;
    font-size: 2rem;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    background-color: #fffefe;
    font-size: 1.5rem;
  }
  
  .day p {
    margin: 0;
  }
  
  .heart-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #000;
  }
  
  .heart-button:hover {
    color: #ff0000;
  }
  
  .today {
    background-color: #fda8c4;
    color: #fff;
  }
  .day.has-message {
    background-color: rgb(255, 197, 88);
  }
  .day.sunday {
    color: red;
  }
  
  
  @media (max-width: 768px) {
    .day {
      font-size: 0.7rem;
      padding: 0 10px;
    }
    
    .heart-button {
      font-size: 1.0rem;
    }
  }